<header class="header lib-header">
  <div class="container header__section">
    <nav class="site-nav">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon" width="24" height="24">
          <use href="/src/images/svg/sprite.svg#icon-film-main"></use>
        </svg>
        <span class="header__logo-text">Filmoteka </span>
      </a>
      <ul class="header__list">
        <li class="header__list-item">
          <a href="./index.html" class="header__list-link">HOME</a>
        </li>
        <li class="header__list-item">
          <a
            href="./library.html"
            class="header__list-link header__list-link--accent"
            id="header-myLibrary"
          >
            MY LIBRARY
          </a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link header-playsomething">
            PLAY SOMETHING
          </a>
        </li>
        <li class="header__list-item">
          <button
            class="change_theme"
            data-theme="onLight"
            aria-label="light theme button"
          >
            <svg class="moon-icon" width="24" height="24">
              <use href="/src/images/svg/sprite.svg#icon-Sun"></use>
            </svg>
          </button>

          <button
            class="change_theme"
            data-theme="onDark"
            aria-label="dark theme button"
          >
            <svg class="moon-icon" width="24" height="24">
              <use href="/src/images/svg/sprite.svg#icon-moon"></use>
            </svg>
          </button>
        </li>
        <li class="header__list-item header-logOut">
          <a class="header__list-link" id="header-logOut">
            <svg class="header__icon icon-logout" width="24" height="24">
              <use href="/src/images/svg/sprite.svg#icon-key"></use></svg
            ><svg
              style="display: none"
              width="11"
              height="11"
              class="header__icon"
              id="icon-autorization-checked"
            >
              <use href="/src/images/svg/sprite.svg#icon-key"></use>
            </svg>
          </a>
        </li>
        <li class="header__list-item header-logIn visually-hidden">
          <a class="header__list-link" id="header-logIn" data-modal-open>
            <svg class="header__icon icon-autorization" width="24" height="24">
              <use href="/src/images/svg/sprite.svg#icon-key"></use></svg
            ><svg
              style="display: none"
              width="11"
              height="11"
              class="header__icon"
              id="icon-autorization-check"
            >
              <use href="/src/images/svg/sprite.svg#icon-key"></use>
            </svg>
          </a>
        </li>
      </ul>
      <input
        type="text"
        name="search_film"
        autofocus
        placeholder="Movie search"
        class="header__form-input header__form-input-library js-input"
      />
      <ul
        class="card-list card-list-library is-hidden"
        data-index="card-list"
      ></ul>
    </nav>

    <ul class="library__btns">
      <li>
        <button class="library__button button--accent js-watched">
          WATCHED
        </button>
      </li>
      <li><button class="library__button js-queue">QUEUE</button></li>
    </ul>
  </div>
</header>
