.gallery {
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: 56vh;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.movies {
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 1279.98px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    grid-row-gap: 32px;
    grid-column-gap: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .movie:not(:last-child) {
    margin-bottom: 20px;
  }
}

.movie {
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}

.movie:hover .movie__cover-inner {
  box-shadow: 0px 5px 9px 4px rgba(140, 140, 140, 1);
  -webkit-box-shadow: 0px 5px 9px 4px rgba(140, 140, 140, 1);
  -moz-box-shadow: 0px 5px 9px 4px rgba(140, 140, 140, 1);
}

.movie__cover-inner {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;

  background-color: rgba(129, 129, 129, 0.03);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  // background-image: url(../images/placeholder/no-image_mobile.jpg);
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
    margin-bottom: 8px;
    // background-image: url(../images/placeholder/no-image_tablet.jpg);
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
    margin-bottom: 12px;
    // background-image: url(../images/placeholder/no-image_desktop.jpg);
  }
}

// .movie__cover-inner:hover {
//   box-shadow: 0px 5px 9px 4px rgba(140, 140, 140, 1);
//   -webkit-box-shadow: 0px 5px 9px 4px rgba(140, 140, 140, 1);
//   -moz-box-shadow: 0px 5px 9px 4px rgba(140, 140, 140, 1);
// }
.movie_cover {
  object-fit: cover;
  width: 280px;
  height: 398px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
  }
}

.movie__info {
  font-size: 12px;
  line-height: 1.16;

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__title {
  color: var(--title-text-color);
  font-style: medium;
  @media screen and (min-width: 320px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.movie__category {
  color: $orange-hover;
  font-style: medium;
  @media screen and (min-width: 320px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
